body {
    background-color: white;    
    margin-top: 60px;
    font-family: 'Gloria Hallelujah', cursive;
    background-color: coral;
}

.myNavBarTop {    
    font-family: 'Baloo', cursive;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:2em;
}

.footer {
    background: #333;
    min-height:40px;
    color: #fff;
    margin-bottom: 10px;
}

.interestsClass, .footerText {
    font-family: 'Gloria Hallelujah', cursive;
}

.mainContent {    
    font-family: 'Lobster', cursive;
}

.myJumbotron, .myProjects, .myInterests {
    background-color: cornsilk;
}

.projects {
    font-family: 'Russo One', sans-serif;
}